<!DOCTYPE html>
<html>
<head>
    @Html.Partial("_Favicon")
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - TenderSearch</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
@{
    var childMenus = new [] { "Dashboard","Home"};
}

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            @Html.Partial("_NavbarHeader")
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                @if (ViewBag.RoleCount > 1)
                {
                    <li class="@Html.IsActiveController("Dashboard")">@Html.ActionLink("Dashboard", "Index", "Dashboard", new { area = "" }, null)</li>
                }
                <li class="@Html.IsActiveController("Home")">@Html.ActionLink("Admin Home", "Index", "Home")</li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
<div class="container body-content">

    @RenderBody()

    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - TenderSearch.</p>
    </footer>
</div>


@Scripts.Render("~/bundles/client")
@RenderSection("scripts", required: false)
</body>
</html>
